# Ignore artifacts:
build/
coverage/
node_modules/
.git/
.next/
.eslintrc.json
.gitignore
.prettierrc
next-env.d.ts
package-lock.json
package.json
postcss.config.js
README.md
tailwind.config.ts
tsconfig.json
